.player-button
{
    top: 0em;
    bottom: 0em;
    width: 1.25em;
    position: absolute;
    
    &.next
    {
        right: 0em;
        padding-right: 0.5em;
    }
    
    &.previous
    {
        left: 0em;
        padding-left: 0.5em;
    }
    
    .button
    {
        font: inherit;
        text-align: center;
        line-height: 1.25em;
        
        top: 0em;
        bottom: 0em;
        margin: auto;
        width: 1.25em;
        height: 1.25em;
        position: absolute;
        
        color: #EEE;
        border-radius: 0.25em;
        background-color: #111;
        
        transition-duration: 0.5s;
        transition-property: opacity;
        
        &.inactive
        {
            opacity: 0;
        }
        
        &.active:hover
        {
            cursor: pointer;
            background-color: purple;
        }
    }
}
