.player-button
{
    top: 0em;
    right: 1em;
    bottom: 0em;
    width: 1.5em;
    height: 1.5em;
    margin: auto;
    position: absolute;
    
    border-radius: 0.25em;
    background-color: purple;
}

