.scene
{
    width: 20em;
    height: 15em;
    float: left;
    position: relative;
    background-color: skyblue;
    
    .actor
    {
        position: absolute;
        background-color: red;
    }
    
    &:first-of-type
    {
        background-color: orange;
    }
    
    &:last-of-type
    {
        background-color: green;
    }
}
