.scene
{
    width: 20em;
    height: 15em;
    float: left;
    position: relative;
    background-color: skyblue;
    
    &:first-of-type
    {
        background-color: orange;
    }
    
    &:last-of-type
    {
        background-color: green;
    }
}

.actor
{
    position: absolute;
    background-color: red;
    
    transition-duration: 1.5s;
    transition-property: left;
}
