.screen
{
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    position: absolute;
}

.splash.screen
{
    color: $white;
    background-color: $black;

    .logo
    {
        top: 0em;
        left: 0em;
        right: 0em;
        bottom: 0em;
        height: 1em;
        margin: auto;
        position: absolute;

        font-size: 1.5em;
        text-align: center;

        opacity: 0;

        animation-name: fadein;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-delay: 0.5s;
    }
}

.title.screen
{
    text-align: center;
    background-color: #BBE5F1;

    img
    {
        margin: 1em 0em;
        width: 100%;
    }

    span
    {
        color: $white;
        font-size: 2em;
        @include stroke($black);

        &:hover
        {
            color: red;
            cursor: pointer;
        }
    }
}

.playthrough.screen
{
    background-color: #99D9EA;
}
