.thing
{
    position: absolute;
    
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
    
    transition-duration: 1.5s;
    transition-property: left;
}
