*
{
    margin: 0px;
}

@import "./styles/components/Camera.scss";
@import "./styles/components/Character.scss";
@import "./styles/components/GameFrame.scss";
@import "./styles/components/PlayerButtons.scss";

body
{
	background-color: #111;
    
    #game-frame
    {
        background-color: #99D9EA;
    }
}
